@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  padding: 0;
  max-width: none;
}
